.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Time-input {
    font-size: 22px;
}

.Time-input input{
    margin-left: 1rem;
    height: 2rem;
    font-size: 22px;
}